body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3ece3;
    color: #3b2f2f;
}
h1 {
    font-family: "Annie Use Your Telescope";
}
p {
    font-family: cursive;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo {
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo::before {
    margin-right: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #3b2f2f;
    font-weight: bold;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.hero-text {
    max-width: 50%;
}
.hero-text h1 {
    font-size: 3em;
    margin-bottom: 100px;
}
.hero-text p {
    font-size: 1.2em;
    color: #6f5b5b;
    position: relative;
    bottom: 40px;
}
.hero-image {
    max-width: 40%;
}
.hero-image img {
    width: 100%;
    border-radius: 10px;
}
.typing-animation {
    color: white;
    position: relative;
    bottom: 350px;
    left: 150px;
    font-size: 30px;
    font-style: italic;
    font-family: cursive;
    white-space: nowrap;
    overflow: hidden; 
    border-right: .15em solid white; 
    width: 0px; 
    animation: typing 3s steps(19)  infinite, blink-caret 0.75s step-end infinite ;
}

@keyframes typing {
    from { width: 0px; }
    to { width: 300px; } 
}

@keyframes blink-caret {
    0%, 100% { border-color: transparent; }
    50% { border-color: white; }
}

.aboutus {
    padding: 40px;
    background-color: #cfb095;
    text-align: center;
}
.aboutus h1 {
    font-size: 3em;
}
.aboutus p {
    font-size: 1.2em;
}
#Location h1 {
    font-size: 2.5em;
}
#Location p {
    font-size: 1.2em;
}
iframe {
    width: 600px;
    height: 400px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.menu-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
}
.menu-item:hover {
    transition: box-shadow 0.5s ease-in;
    box-shadow: 21px 21px 36px #b5b5b5;
}
.menu-item img {
    display: block;
    width: 100%;
    height: auto;
}
.menu-item img:hover {
    transition: transform 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.5);
}
#foodmenu {
    background-color: #c2b280;
}
#foodmenu h1 {
    font-size: 3em;
}
.footer {
    background-color: #d3c8b6;
    color: #635e59;
    padding: 40px 0;
}
.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo img {
    width: 80px;
    margin-bottom: 10px;
}
.footer-contact p {
    margin-bottom: 8px;
    font-size: 14px;
}
.footer-bottom {
    background-color: #b7ab98;
    padding: 10px 0;
    text-align: center;
    color: #635e59;
    font-size: 14px;
}
@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .hero-text, .hero-image {
        max-width: 100%;
    }
    .hero-image {
        margin-top: 20px;
    }
    .hero-text h1 {
        margin-bottom: 20px;
    }
    .hero-text p {
        bottom: 0;
        font-size: 1em;
    }
    .aboutus h1 {
        font-size: 2.5em;
    }
    .aboutus p {
        font-size: 1em;
    }
    #Location h1 {
        font-size: 2em;
    }
    #Location p {
        font-size: 1em;
    }
    iframe {
        width: 100%;
        height: auto;
    }
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .typing-animation {
        position: relative;
        left: 50px;
     }
     
}
@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .logo {
        font-size: 1.2em;
    }
    .hero {
        padding: 10px;
    }
    .hero-text h1 {
        font-size: 2.5em;
    }
    .hero-text p {
        font-size: 1em;
    }
    .aboutus {
        padding: 20px;
    }
    .aboutus h1 {
        font-size: 2em;
    }
    .aboutus p {
        font-size: 0.9em;
    }
    #Location h1 {
        font-size: 1.8em;
    }
    #Location p {
        font-size: 0.9em;
    }
    .container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    iframe {
        width: 70%;
    }
    .typing-animation {
       position: relative;
       left: 50px;
    }
    
}